body {
	font-family: Arial;
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
}

.light-mode {
	background-color: darkred;
	color: #222;
	transition: 1s;
}

.banner img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	filter: brightness(65%);
	margin-bottom: 1rem;
}

header {
	backdrop-filter: blur(5px);
	font-size: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 10px;
	padding: 5px;
}

h1 {
	margin-right: auto;
	margin-left: 10px;
	color: #fafafa;
	font-weight: bold;
	font-family: sans-serif;
}

.navbar {
	list-style: none;
}

.navbar li {
	display: inline-block;
	padding: 0px 20px;
}

.navbar li a {
	transition: all 0.4s ease 0s;
	text-decoration: none;
	color: white;
}

.navbar li a.active,
.navbar li a:hover {
	color: yellow;
	border-bottom: 3px solid;
}

button {
	padding: 9px 25px;
	background-color: gold;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	transition: all 0.4s ease 0s;
	margin-left: 20px;
	margin-right: 10px;
	color: 	#fafafa;
	font-weight: bold;
}

button:hover {
	transform: translateX(10px);
	box-shadow: 0 8px 10px rgba(255, 205, 58, 0.6);
	background-color: yellow;
	color: black;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.tutorial {
	text-decoration: none;
	padding: 9px 25px;
	background-color: gold;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	transition: all 0.4s ease 0s;
	font-weight: bold;
	color: white;
}

.tutorial:hover	{
	transform: translateZ(10px);
	box-shadow: 0 8px 10px rgba(255, 205, 58, 0.6);
	background-color: yellow;
	color: 	black;

}

.image-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.image-card {
	flex: 1 1 250px;
	border-radius: 15px;
	overflow: hidden;
	text-align: center;
	transition: 0.3s ease, box-shadow 0.3s ease;
	cursor: pointer;
	padding: 50px;
}

.image-card:hover{
	transform: translate(-10px);
	box-shadow: 0 10px 20px rgba(255, 205, 58, 0.6);
	border-radius: 20px;
	
}

.image-card img {
	width: 100%;
	height: 380px;
	object-fit: cover;
	border-bottom: 3px solid;
	border-radius: 15px;
	box-shadow: 0 8px 20px rgba(255, 205, 58, 0.6);
	margin-top: 30px;
}

.card h2{
	border-bottom: 3px solid;
	line-height: 3;
}


.card p {
	text-align: center;
	width: 	30%;
	margin: auto;
}

.image-card h2 {
	font-size: 17;
	line-height: 3;

}
.image-card p {
	width: 75%;
	font-size: 15px;
}

.card {
	backdrop-filter: blur(2px);
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 8px 20px rgba(255, 205, 58, 0.6);
	padding: 15px;
	
}

main {
	margin: 60px;
}

footer {
	text-align: center;
	background-color: white;
	color: black;
	padding: 20px;
}

.contact {
	display: flex;
	align-items: center;
	flex-direction: column;
	backdrop-filter: blur(2px);
	border-radius: 40px;
	box-shadow: 0 8px 20px rgba(255, 205, 58, 0.6);
	width: 30%;
	margin: auto;
	padding: 30px;
	margin-top: 50px;
	margin-bottom: 70px;
}

.contact form {
	display: flex;
	align-items: center;
	flex-direction: column;
	line-height: 1.7;
}

.contact select {
	background-color: black;
	color: yellow;
	box-shadow: 0 8px 20px rgba(255, 205, 58, 0.6);
	padding: 8px 12px;
	border-radius: 6px;
	font-size: 12px;
	cursor: pointer;
	border-radius: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 70%;
}

.contact option {
	transition: max-height 0.3s ease;
}

.contact input {
	width: 170%;
	height: 5vh;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 0 8px 20px rgba(255, 205, 58, 0.6);
	background: transparent;
	text-align: center;
	color: white;
}

.contact h2 {
	margin: 20px;
	padding: 10px;

}

.contact p {
	line-height: 0;
	float: height;

}

.hidden {
	display: none;
}

option {
	border-radius: 20px;
}
form {
	max-width: 400px;
}

label {
	display: block;
	margin-top: 10px;
}

textarea, input, select {
	width: 100%;
	margin-top: 5px;
}

.button-container button {
	transform: translateZ(2px);
}